<div class="entry">
  <div class="entry-header">
    <span class="entry-title"><strong>{{position}}</strong></span>
    <span class="entry-date">{{duration}}</span>
  </div>
  <div class="entry-org">{{organization}}</div>
  <p class="entry-description">{{description}}</p>
</div>